header, section {
  padding: 15px;
  background-color: #32435b;
  color: white;
}
.description {
  font-style: italic;
}
section {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}
