<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1 class="text-center">
    Bienvenue sur {{ title }}!
  </h1>
</header>
<section>
  <h1>Liste des sessions de formation</h1>
  <p class="description">suivre les sessions</p>
  <div class="row">
    <div class="col-md-3">
      <app-session-item [session]="firstSession" (participantsChange)="nbParticipantsChange($event)" ></app-session-item>
      <p class="description">Nombre total de participants : {{nbPart}}</p>
    </div>
  </div>
</section>


