/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  padding: 0;
  background-color: #32435b;
  color: white;
}
header {
  background-color: #32435b;
}
section {
  padding: 15px;
}
i{
  margin-right: 5px;
}
